*{
    margin:0px;
    padding:0px;
    font-family: 'Golos Text', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Tilt Neon', cursive;
font-weight: lighter;

}
/*Upper Navbar*/

.Upper_nav{
   display: flex;
   justify-content: space-between;
}
.Nav_content{
    display: flex;
    justify-content: space-evenly;
    margin-top: 10px;
    align-items: center;
   margin-left:10%;
    
  
}
.Upper_nav p{
    padding: 15px;
}
.Nav_text span{
    color: rgb(235, 52, 52);
}
.Nav_text{
    margin-right: 10%;
    margin-top: 10px;
}
.Nav_content img{
    height: 10px;
    width: 10px;
    margin-bottom: 1px;
   
}
/*Second Navbar*/

.Navbar{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
   
}
.Flone_container img{
height: 30px;
width: 100px;
object-fit: contain;
margin-left: 50px;
}

.Content_container{
    display: flex;
    justify-content: space-between;
    align-items: center; 
   
}
.Content_container p{
  margin-left: 30px;
    padding: 7px;
    color: rgb(107,106,104);
   
}
.Icon_container img{
    height:20px;
    width: 20px;
    padding: 12px;
    margin-top: 10px;
}
.Icon_container{
    margin-right: 20px;
}
.Content_container img{
    height:10px;
    width: 10px;
}
.Nav h5{
 display: flex;
 justify-content: space-evenly;
 padding: 10px;
 font-size: 15px;

}
.Nav{
    background-color: rgb(247,247,247);
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Nav span{
   color: gray;
}

/*Body*/
.Image_parent_container button{
    background-color: rgb(250,107,255);
    border: none;
    border-radius: 3px;
    padding:2px 10px;
    color:white;
    width:50px;
    height:20px;
    position: absolute;
    left:10px;
    top:20px;
    margin-left:15px;
}
.Body_container{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr ;
    grid-gap:20px;
    margin-left: 40px;
 }
.Body_content_container_parent{
   width:80%;
    margin-right: 20px;
    margin-left: 7%;
}
.Para1 p{
    margin-top:20px;
    line-height: 1.6;
}
.Entire_parent{
   
display: grid;
grid-template-columns: 1fr 2fr;
padding:6%;
margin-left: 50px;
 }
.Image_parent_container img{
    height: 90vh;
    width: 500px;
    object-fit: contain;
    margin-left: 10px;
  
}
.Imagee{
    position: relative;
}

.Image_child_container {
   display: flex;
   justify-content: space-evenly;   
}
.Image_child_container img{
    height: 170px;
    width: 115px;
    object-fit: contain;
    margin-left: 10px;
}

/*Right side Keela iruka content*/

.Select_container{
    display: flex;
  
}
.Select_child2{
    padding: 20px;
    margin-top: 20px;
} 
.Select_child1 h3{
    margin-bottom: 20px;
}
.Select_child1{
    padding: 20px;
    margin-top: 20px;

} 
.Select_child1 input[type=radio].rad1{
   accent-color: white;
   border: none;
   width:20px;
   height:20px;
}
.Select_child1 input[type=radio].rad2{
   accent-color:black;
    border: none;
    width:20px;
   height:20px;
 }
 .Select_child1 input[type=radio].rad3{
    accent-color: brown;
    border: none;
    width:20px;
   height:20px;
 }

.Select_child2 button{
    padding:5px;
    background-color:lightgrey;
    border: none;
    margin-top: 20px;

}
.Select_child2 button:hover{
    background-color: blueviolet;
    color: black;
}
.Button button{
    background-color:rgb(52,53,56);
    color: white;
    padding:20px;
    border:none;
    margin-left: 10px;
    width:160px;
    transition: ease-out 0.3s;
    box-shadow: inset 0 0 0 0 rgb(167,73,255);
}
.Button button:hover{
  box-shadow: inset 160px 0 0 0 rgb(167,73,255) ;
}

.Remaining_content_container{
    margin-top:20px;
}
.Remaining_content_container h4{
    color: rgb(103,103,103);
    margin-left: 20px;
}
.Button img{
    height: 20px;
    width: 20px;
    margin-left: 30px;
}
.Icons_container i{
   
    padding:20px;
  
}
.Icons_container{
 margin-top: 20px;
}
.Para_container{
    display: flex;
    align-items: center;
    margin-left: 20px;
    
}
.Box{
    border-style:groove;
    height: 54px;
    width: 80px;
    border-color:lightgray;
}
.Box h3{
   padding: 15px;
   text-align: center;
}

.Rate_container{
    display: flex;
   padding:10 px;
}
.Rate_container span{
   color: red;
   font-weight: 100;
}
.Rate_container h3{
    padding: 14px;
}
.Rate_container h2{
    padding:10px;
}
.Review_container{
  
   display: flex;
   justify-content: center;
  
   
  
}
.Review_container hr {
    border:none;
    border-top:1px solid;
    margin:1em 15%; 
    }
  
 
.Review_container h2{
 padding: 20px;
 font-size: 27px;
   
 }
 .Review_content_container{
    display: flex;
    padding: 30px;
    flex-direction: column;
 }
 .Whole_container{
    margin-left:5%;
 }
 .Whole_container1{
    display: flex;
   

 }
 .Whole_container2{
    display: flex;
    margin-left:40px;
    
 }
 .Review_head_and_icon_parent{
    display: flex;
    
    
 }
 .Review_head_and_icon_parent img{
object-fit: contain;
height: 40px;
width: 60px;
margin-left: 20px;

 }
 .Img_container img{
    margin-top: 35px;
 }
 .Review_head_container h3{
    margin-top: 10px;
   
 }
 .Reply{
  margin-top: 10px;

 }
 
 .Star_container{
    margin-right:20%;
 }


/*Reviews part*/

 .Rating{
    display: flex;

 }
 .Rating img{
    object-fit: contain;
height: 40px;
width: 60px;
margin-left: 10px;

 }
 .Rating h4{
    margin-top: 10px;
 }
.The_whole_div {
    display: flex;
    justify-content:space-evenly;
   
}

.Border{
    display: flex;
    align-items: center;
}

.Add_a_review_container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 40px;
    margin-right: 5%;
   
}

.Head_title{
    text-align: center !important;
}
.Whole-container2{
  margin-left: 20%;
}
.line{
    height:3px;
   width: 10%;
    background-color: rgb(0, 0, 0);
    margin-bottom: 20px;
  
   
}
  .dummy_border {
    height:2px;
    width:55%;
    background-color: lightgray;
    margin-left:12%;
    margin-bottom: 20px;
   
    
  }
  .dummy_borderr {
    height:2px;
    width:20%;
    background-color: lightgray;
    margin-right:12%;
    margin-bottom: 20px;
   
    
  }

  .dummy_border1 {
    height:2px;
    width:10%;
    background-color: rgb(0, 0, 0);
    margin-left:35%;
    margin-right:15px;
   
   
    
  }
  .dummy_border2 {
    height:2px;
    width:10%;
    background-color: rgb(0, 0, 0);
    margin-right:35%;
    margin-left:15px;
   
   
    
  }
  .Word{
    margin-left:15px;
  }
  .Head_title{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
    
  }
  .Text_area_container{
    display:flex;

  }
  .Text_area_container1 input{
    height: 40px;
    width: 200px;
   
  }
  .Text_area_container2 input{
    height: 40px;
    width: 200px;
    margin-left: 20px;
   
  }
  .Text_area_msg textarea{
    height: 130px;
    width: 396px;
    padding: 15px;
  }
  .Text_area_msg  button{
    padding:15px;
    background-color: rgb(167,73,255);
    border: none;
    width:150px;
    color: white;
    margin-top: 15px;

  }
  .Text_area_msg  button:hover{
    background-color:rgb(52,53,56) ;
    transition: all ls;
  }





  /* Grid photos */

  .Grid_Parent button{
  background-color: rgb(250,107,255);
  border: none;
  border-radius: 3px;
  padding:2px 10px;
  color:white;
  width:50px;
  height:20px;
  position: absolute;
  right:10px;
  top:20px;
  margin-left:15px;
}

.imgg1{
    position: relative;
}
.imgg4{
    position: relative;
}
.Grid_Parent2 button{
    background-color: rgb(250,107,255);
    border: none;
    border-radius: 3px;
    padding:2px 10px;
    color:white;
    width:50px;
    height:20px;
    position: absolute;
    right:10px;
    top:20px;
    margin-left:15px;
  }
.imgg2{
    position: relative;
}
.Grid_Parent3 button{
    background-color: rgb(250,107,255);
    border: none;
    border-radius: 3px;
    padding:2px 10px;
    color:white;
    width:50px;
    height:20px;
    position: absolute;
    right:10px;
    top:20px;
    margin-left:15px;
  }
.imgg3{
    position: relative;
}



.Grid_Parent3 button{
    background-color: rgb(250,107,255);
    border: none;
    border-radius: 3px;
    padding:2px 10px;
    color:white;
    width:50px;
    height:20px;
    position: absolute;
    right:10px;
    top:20px;
    margin-left:15px;
  }
.imgg3{
    position: relative;
}

 .one{
    background-color: rgb(250,107,255);
    border: none;
    border-radius: 3px;
    padding:2px 10px;
    color:white;
    width:50px;
    height:20px;
    position: absolute;
    right:10px;
    top:20px;
    margin-left:15px;
}
.two{
    background-color: rgb(167,73,255);
    border: none;
    border-radius: 3px;
    padding:2px 10px;
    color:white;
    width:50px;
    height:20px;
    position: absolute;
    right:10px;
    top:10px;
    margin-left:15px;
    margin-top: 30px;

}
.Grid_container{
   display: flex;
   justify-content: space-evenly;
   width: 80%;
   margin-left: 10%;  
    margin-top: 4%;
}
.Grid_Parent img{
    height:350px;
    width:250px;
}
.Grid_Parent2 img{
    height:350px;
    width:250px;
}

.Grid_Parent2 h3{
   
    text-align: center;

}

.Grid_Parent span{
    color: orange;
}
.Grid_Parent2 span{
    color: orange;
}

.Grid_Parent3 img{
    height:350px;
    width:250px;
}

.Grid_Parent3 h3{
   
    text-align: center;

}

.Grid_Parent3 span{
    color: orange;
}
.Grid_child h3{
    margin-bottom: 10px;
 margin-top:20px;
}
.Body_text{
    display: flex;
    text-align: center;
    margin-left: 30%;
}
.Body_text h3{
    padding-left: 3px;
    margin-top: 15px;
}


#star{
    text-align: center;
}
.Grid_child{
    text-align: center;
}

/* Down navbar */

.Flone_Container h5{
    color: rgb(87,89,88);
    margin-top:5px;
}
.Flone_Container pre{
    color: rgb(87,89,88);
    margin-top:5px;
 
}
.Flone_Container img{
margin-bottom: 10px;
}

.Down_nav{
    background-color:rgb(245,245,247);
    height: 50vh;
    width: auto;
    display: flex;
    margin-top: 10%;
  }
 .Flone_Container{
    padding:10%;
    margin-left: 45px;
 }
 .Flex{
   display: grid;
   grid-template-columns: repeat(4,1fr);
   align-items: center;
   width: 80%;
   margin-right:5%;
   margin-top: 2%;
 }
 .About_us p{
 padding-top: 15px;
 }
 .About_us h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 .Useful_links p{
    padding-top: 15px;
 }
 .Useful_links h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }

 .Follow p{
    padding-top: 15px;
 }
 .Follow h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 .Subscribe p{
    padding-top: 15px;
 }
 .Subscribe h4{
    color: rgb(49,49,49);
    font-weight:bold;
    margin-bottom:10px;
 }
 .Txt input{
    border: none;
    background: transparent;
    box-shadow: none; 
}
